div.vertical-menu {
    width: 15%;
    text-align: left;
    margin: 20px auto 50px 20px;
    background-color: #c1d7d7;
    box-shadow: 5px 5px 5px #aaaaaa;
    float: left;
}

.vertical-menu a {
    background-color: #c1d7d7;
    border-right: 1px solid #3c5d5d;
    border-left: 1px solid #3c5d5d;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    display: none;
}

.vertical-menu a:hover {
    color: black;
    background-color: #92b9b9;
}

.vertical-menu a.active {
    background-color: #5c8a8a;
    color: white;
    border: 1px solid #3c5d5d;
    display: block;
}

.vertical-menu a.active:hover {
    background-color: #6a8e9e;
}

div.users-list {
    float: right;
    background-color: #c1d7d7;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #aaaaaa;
    padding: 10px 15px 15px;
    margin: 20px 20px 50px auto;
    width: 75%;
    text-align: center;
}

.users-list table {
    width: 95%;
    margin: auto;
    border-collapse: collapse;
    border: 3px solid #3c5d5d;
}

.users-list td {
    // width: 50%;
    text-align: left;
    font-size: 1.4em;
    border: 1px solid #3c5d5d;
}

.users-list th {
    // width: 50%;
    text-align: left;
    font-size: 1.4em;
    border: 1px solid #3c5d5d;
}

.users-list tr {
    border: 1px solid #3c5d5d;
}

h2.div-title {
    text-align: center;
    margin-bottom: 10px;
    color: #476b6b;
    font-size: 2em;

}

div.reservations {
    width: 77%;
    text-align: center;
    margin: 20px 20px 60px;
    padding: 20px;
    background-color: #c1d7d7;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #aaaaaa;
    float: right;
}

table.reservations {
    width: 95%;
    margin: auto;
    border: 3px solid #3c5d5d;
    border-collapse: collapse;
}

td.reservation-car-image {
    text-align: center;
    width: 20%;
    border: 1px solid #3c5d5d;
}

td.reservation-descriptor {
    text-align: left;
    width: 20%;
    border: 1px solid #3c5d5d;
    font-size: 1.2em;
}

td.reservation-detail {
    text-align: left;
    width: 17%;
    border: 1px solid #3c5d5d;
    font-size: 1.2em;
}

#reservation-button-view {
    text-align: center;
    width: 25%;
    border-bottom: hidden;
}

#reservation-button-delete {
    text-align: center;
    width: 25%;
    border-top: hidden;
}

.reservations input[type=button] {
    font-size: 1.3em;
}

.reservations tr {
    border: 1px solid #3c5d5d;
}

tr.reservations-separator {
    border-bottom: 2px solid #3c5d5d;
}

h3.empty-list {
    color: gray;
}

div.preview-cars {
    width: 75%;
    text-align: center;
    margin: 20px 20px 50px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #c1d7d7;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #aaaaaa;
    float: right;
}

.preview-cars td {
    width: 25%;
    border: 2px solid #3c5d5d;
}

.preview-cars td.car-image {
    text-align: center;
    padding: 10px;
}

.preview-cars td.car-description {
    font-size: 1.5em;
    text-align: left;
    padding: 10px;
    border-left: hidden;
    border-bottom: hidden;
}

.preview-cars td.car-price {
    font-size: 1em;
    text-align: left;
    padding: 10px;
    border-left: hidden;
    border-top: hidden;
}

.preview-cars td.car-details {
    font-size: 1em;
    text-align: left;
    padding: 10px;
    border-left: hidden;
    border-top: hidden;
    border-bottom: hidden;
}

.preview-cars tr {
    border: 2px solid #3c5d5d;
}

.preview-cars table {
    margin: auto;
    width: 96%;
    border: 3px solid #3c5d5d;
    border-collapse: collapse;
    border-spacing: 0;
}

div.car-image {
    float: left;
    background-color: #c1d7d7;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #aaaaaa;
    padding: 15px;
    margin: 20px auto 50px 20px;
}

div.car-details {
    float: right;
    background-color: #c1d7d7;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #aaaaaa;
    padding: 20px 15px 15px;
    margin: 20px 20px 50px auto;
    width: 75%;
    text-align: center;
}

.car-details table {
    width: 95%;
    margin: auto;
}

.car-details td {
    width: 25%;
    text-align: right;
    font-size: 1.4em;
}

.car-details th {
    width: 25%;
    text-align: left;
    font-size: 1.4em;
}

td.big-car-image {
    text-align: center;
    width: 50%;
}

div.car-details input[type=button], input[type=submit] {
    font-size: 1.7em;
    margin: 20px 10px 10px;
    width: 20%;
    padding: 10px 15px 10px;
}