body {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px 8px;
    text-decoration: none;
    font-size: 18px;
    height: 30px;
}

.navbar a.a-logo {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 0px auto 0px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a.a-logo:hover {
    background-color: #92b9b9;
}

.navbar a.a-left {
    float: left;
}

.navbar a.a-right {
    float: right;
}

.navbar a:hover {
    color: black;
    background-color: #dddddd;
}

.navbar {
    overflow: hidden;
    background-color: #5c8a8a;
    width: 100%;
    margin: 0px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3.5%;
    background-color: #5c8a8a;
    color: white;
    text-align: center;
    font-size: 0.8em;
}

img.big-logo {
    display: block;
    margin-left: 50px;
    margin-right: 0px;
}

img.small-logo {
    display: block;
    margin: -5px;
    padding: 0px;
}

div.logo-and-title {
    text-align: center;
    width: 100%;
}

.logo-and-title table {
    // background-color: lightgreen;
    width: 50%;
    // border: 1px solid black;
    margin: auto;
    padding: 0px;
}

.logo-and-title td {
    // border: 1px solid black;
    padding: 0px 15px 0px 15px;
    white-space: nowrap;
}

.logo-and-title tr {
    padding: 0px;
}

h1 {
    font-size: 6.5em;
    color: #476b6b;
    text-align: left;
}

.company-description p {
    font-size: 1.4em;
}

div.company-description {
    margin-left: 20px;
    padding-left: 10px;
    width: 50%;
    float: left;
    text-align: justify;
}

div.news {
    margin-right: 20px;
    padding: 10px 10px 10px 20px;
    width: 40%;
    float: right;
    background-color: #c1d7d7;
    text-align: justify;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #aaaaaa;
}

.news li {
    font-size: 1.2em;
}

.company-description h2 {
    font-size: 1.7em;
    color: #3c5d5d;
}

.news h2 {
    font-size: 1.7em;
    color: #3c5d5d;
}

img.car-image:hover {
    box-shadow: 2px 2px 2px 2px #3c5d5d;
}

input[type=submit] {
    text-align: center;
    background-color: orange;
    color: #FFFFFF;
    border: 1px solid orange;
    border-radius: 20px;
    box-shadow: 1px 1px 1px #3c5d5d;
    text-shadow:none;
    padding: 5px;
    margin: 15px auto 5px;
}

input[type=submit]:hover {
    background-color: darkorange;
}

input[type=button] {
    text-align: center;
    background-color: orange;
    color: #FFFFFF;
    border: 1px solid orange;
    border-radius: 20px;
    box-shadow: 1px 1px 1px #3c5d5d;
    text-shadow:none;
    padding: 5px;
    margin: 15px auto 5px;
}

input[type=button]:hover {
    background-color: darkorange;
}

h3.empty-list {
    color: gray;
}

h2.div-title {
    text-align: center;
    margin-bottom: 10px;
    color: #476b6b;
    font-size: 2em;

}