div.car-image {
    float: left;
    background-color: #c1d7d7;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #aaaaaa;
    padding: 15px;
    margin: 20px auto 50px 20px;
}

div.car-details {
    float: right;
    background-color: #c1d7d7;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #aaaaaa;
    padding: 20px 15px 15px;
    margin: 20px 20px 50px auto;
    width: 50%;
    text-align: center;
}

.car-details table {
    width: 70%;
    margin: auto;
    // background-color: lightgreen;
}

.car-details td {
    width: 50%;
    text-align: right;
    font-size: 1.4em;
}

.car-details th {
    width: 50%;
    text-align: left;
    font-size: 1.4em;
}

input[type=button] {
    text-align: center;
    background-color: orange;
    color: #FFFFFF;
    border: 1px solid orange;
    border-radius: 20px;
    box-shadow: 1px 1px 1px #3c5d5d;
    text-shadow:none;
    padding: 5px;
    margin: 15px auto 5px;
}

input[type=button]:hover {
    background-color: darkorange;
}

div.hire {
    padding: 15px;
    margin: 20px;
}

#div-hire {
    display: none;

}

#hire-button {
    width: 40%;
    font-size: 1.7em;
}

#check-availability-button {
    width: auto;
    padding: 5px 10px 5px;
    font-size: 1.2em;
    margin: 5px;
}

input[type=submit] {
    text-align: center;
    background-color: orange;
    color: #FFFFFF;
    border: 1px solid orange;
    border-radius: 20px;
    box-shadow: 1px 1px 1px #3c5d5d;
    text-shadow:none;
    padding: 5px;
    margin: 15px auto 5px;
}

input[type=submit]:hover {
    background-color: darkorange;
}

p.hire {
    margin-bottom: 0px;
    font-size: 1.2em;
}

input[type=date] {
    background-color: white;
    color: black;
    border-radius: 10px;
    border-color: #EEEEEE;
    border-bottom-color: #EEEEEE;
    padding: 5px;
    margin: 5px;
}

div.confirm-hire {
    padding: 15px;
    margin: 20px;
}

#div-confirm-hire {
    display: none;
}

#confirm-reservation-button {
    width: 40%;
    font-size: 1.7em;
}

#msg-availability-confirm-hire {
    margin-bottom: 0px;
    font-size: 1.3em;
}

#msg-price-confirm-hire {
    margin: 5px auto 10px;
    font-weight: bold;
    font-size: 1.8em;
}