div.preview-cars {
    width: 75%;
    text-align: center;
    margin: 20px 20px 50px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #c1d7d7;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #aaaaaa;
    float: right;
}

.preview-cars td {
    width: 25%;
    border: 2px solid #3c5d5d;
}

.preview-cars td.car-image {
    text-align: center;
    padding: 10px;
}

.preview-cars td.car-description {
    font-size: 1.5em;
    text-align: left;
    padding: 10px;
    border-left: hidden;
    border-bottom: hidden;
}

.preview-cars td.car-price {
    font-size: 1em;
    text-align: left;
    padding: 10px;
    border-left: hidden;
    border-top: hidden;
}

.preview-cars td.car-details {
    font-size: 1em;
    text-align: left;
    padding: 10px;
    border-left: hidden;
    border-top: hidden;
    border-bottom: hidden;
}

.preview-cars tr {
    border: 2px solid #3c5d5d;
}

.preview-cars table {
    margin: auto;
    width: 96%;
    border: 3px solid #3c5d5d;
    border-collapse: collapse;
    border-spacing: 0;
}

div.searching-filters {
    width: 20%;
    text-align: center;
    margin: 20px auto 50px 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #c1d7d7;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #aaaaaa;
    float: left;
}

.searching-filters table {
    margin: auto;
    width: 85%;
    border-collapse: collapse;
}
td.caption {
    text-align: left;
    width: 50%;
}

td.user-input {
    text-align: right;
    width: 50%;
}

.searching-filters label {
    margin: 5px auto 5px;
}

.searching-filters input {
    margin: 5px auto 5px;
    width: 90%;
    float: right;
}

.searching-filters select {
    margin: 5px auto 5px;
    width: 100%;
    float: right;
}

#filter-table th {
    color: #476b6b;
    font-size: 1.3em;
    text-align: left;
    padding: 10px 0px 10px;
}

#filter-cars-button {
    margin: 20px auto 20px;
    float: none;
    font-size: 1.3em;
}