div.preview-cars {
    width: 95%;
    text-align: center;
    margin: 20px auto 50px 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #c1d7d7;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #aaaaaa;
    float: left;
}

.preview-cars td {
    width: 25%;
    border: 2px solid #3c5d5d;
}

.preview-cars td.car-image {
    text-align: center;
    padding: 10px;
}

.preview-cars td.car-description {
    font-size: 1.8em;
    text-align: left;
    padding: 10px;
    border-left: hidden;
    border-bottom: hidden;
}

.preview-cars td.car-price {
    font-size: 1.3em;
    text-align: left;
    padding: 10px;
    border-left: hidden;
    border-top: hidden;
}

.preview-cars td.car-details {
    font-size: 1.3em;
    text-align: left;
    padding: 10px;
    border-left: hidden;
    border-top: hidden;
    border-bottom: hidden;
}

.preview-cars tr {
    border: 2px solid #3c5d5d;
}

.preview-cars table {
    margin: auto;
    width: 96%;
    border: 3px solid #3c5d5d;
    border-collapse: collapse;
    border-spacing: 0;
}