.company-description p {
    font-size: 1.4em;
}

div.company-description {
    margin-left: 20px;
    padding-left: 10px;
    width: 50%;
    float: left;
    text-align: justify;
}

div.news {
    margin-right: 20px;
    padding: 10px;
    width: 40%;
    float: right;
    background-color: #c1d7d7;
    text-align: justify;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #aaaaaa;
}

.news li {
    font-size: 1.2em;
}

.company-description h2 {
    font-size: 1.7em;
    color: #3c5d5d;
}

div.preview-cars {
    width: 98%;
    text-align: center;
    margin: 20px 20px 50px 20px;
    padding-top: 15px;
    padding-bottom: 25px;
    background-color: #c1d7d7;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #aaaaaa;
    float: left;
}

.preview-cars td {
    width: 25%;
    border: 2px solid #3c5d5d;
}

.preview-cars td.car-image {
    text-align: center;
    padding: 10px;
}

.preview-cars td.car-description {
    font-size: 1.8em;
    text-align: left;
    padding: 10px;
    border-left: hidden;
    border-bottom: hidden;
}

.preview-cars td.car-price {
    font-size: 1.3em;
    text-align: left;
    padding: 10px;
    border-left: hidden;
    border-top: hidden;
}

.preview-cars td.car-details {
    font-size: 1.3em;
    text-align: left;
    padding: 10px;
    border-left: hidden;
    border-top: hidden;
    border-bottom: hidden;
}

.preview-cars tr {
    border: 2px solid #3c5d5d;
}

.preview-cars table {
    margin: 15px auto 10px;
    width: 96%;
    border: 3px solid #3c5d5d;
    border-collapse: collapse;
    border-spacing: 0;
}

img.car-image:hover {
    box-shadow: 2px 2px 2px 2px #3c5d5d;
}