{% extends 'base.html' %}

{% block other_styles %}
    <link rel="stylesheet" href="/static/css/admin_area_style.css" type="text/css" />
{% endblock %}

{% block javascript_code %}
    <script type="text/javascript" src="/static/script/admin_area.js"></script>
{% endblock %}

{% block admin_menu %}
    <div class="vertical-menu">
        <a href="#" class="active">Cars</a>
        <a href="/admin_user_area?session-id={{ session_id }}&user-id={{ user }}&edit=false" class="active">My account</a>
        <a href="javascript:hide_show_news_items()" class="active">News</a>
        <a href="#" id="all-news" name="news-item">All news</a>
        <a href="#" id="add-news" name="news-item">Add news</a>
        <a href="javascript:hide_show_reservation_items()" class="active">Reservations</a>
        <a href="/all_reservations_list?session-id={{ session_id }}&user-id={{ user }}" id="all-reservations" name="reservation-item">All reservations</a>
        <a href="#" id="completed-reservations" name="reservation-item">Completed reservations</a>
        <a href="#" id="in-progress-reservations" name="reservation-item">Reservations in progress</a>
        <a href="#" id="reserved-reservations" name="reservation-item">Future reservations</a>
        <a href="#" id="starting-today-reservations" name="reservation-item">Starting today</a>
        <a href="#" id="ending-today-reservations" name="reservation-item">Ending today</a>
        <a href="/users_list?session-id={{ session_id }}&user-id={{ user }}" class="active">Users</a>
    </div>
{% endblock %}

{% block admin_view %}
    {% if users_list %}
        <div id="div-users-list" class="users-list">
        <h2 class="div-title">All users</h2>
            <table class="users-list">
                <tr>
                    <th>User ID</th>
                    <th>Surname</th>
                    <th>Name</th>
                    <th>Date of birth</th>
                    <th>Account type</th>
                </tr>
                {% for user in users_list %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.surname }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.birthdate }}</td>
                        {% if user.is_admin == 0 %}
                            <td>Standard</td>
                        {% else %}
                            <td>Admin</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}

    {% if reservations_list %}
        <div class="reservations" id="div-reservations">
            <h2 class="div-title">Reservations</h2>
            {% if reservations_list|length > 0 %}
                <table class="reservations" id="reservations-table">
                    {% for reservation in reservations_list %}
                        <tr>
                            <td class="reservation-car-image" rowspan="5"><a href="/reservation_details?session-id={{ session_id }}&user-id={{ user }}&reservation-id={{ reservation.id_reservation }}"><img class="car-image" src="{{ cars_reservations_list[loop.index0].photo_link }}" width="173" height="130"></a></td>
                            <td class="reservation-descriptor"><b>Reservation ID:</b></td>
                            <td class="reservation-detail">{{ reservation.id_reservation }}</td>
                            <td class="reservation-descriptor"><b>From:</b></td>
                            <td class="reservation-detail">{{ reservation.date_from }} 0:00 a.m.</td>
                        </tr>
                        <tr>
                            <td class="reservation-descriptor"><b>Customer's ID:</b></td>
                            <td class="reservation-detail">{{ users_list_for_reservations[loop.index0].id }}</td>
                            <td class="reservation-descriptor"><b>To:</b></td>
                            <td class="reservation-detail">{{ reservation.date_to }} 23:59 p.m.</td>
                        </tr>
                        <tr>
                            <td class="reservation-descriptor"><b>Customer's Surname</b></td>
                            <td class="reservation-detail">{{ users_list_for_reservations[loop.index0].surname }}</td>
                            <td class="reservation-descriptor"><b>Car rented:</b></td>
                            <td class="reservation-detail">{{ cars_reservations_list[loop.index0].brand }} {{ cars_reservations_list[loop.index0].model }}</td>
                        </tr>
                        <tr>
                            <td class="reservation-descriptor"><b>Customer's Name</b></td>
                            <td class="reservation-detail">{{ users_list_for_reservations[loop.index0].name }}</td>
                            <td class="reservation-descriptor"><b>Total price:</b></td>
                            <td class="reservation-detail">€ {{ total_prices_list[loop.index0] }}</td>
                        </tr>
                        <tr class="reservations-separator">
                            <td class="reservation-descriptor"><b>Customer's Birthdate</b></td>
                            <td class="reservation-detail">{{ users_list_for_reservations[loop.index0].birthdate }}</td>
                            <td class="reservation-descriptor"><b>Status:</b></td>
                            <td class="reservation-detail" name="reservation-status">{{ reservations_status_list[loop.index0] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <h3 class="empty-list">You do not have reservations yet</h3>
            {% endif %}
        </div>
        <script>
            assign_color_to_reservation_status();
            assign_color_to_delete_reservation_buttons();
        </script>
    {% endif %}
{% endblock %}