<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rent a Car</title>
    <link rel="stylesheet" href="/static/css/base_style.css" type="text/css" />
    {% block other_styles %}
    {% endblock %}
    {% block javascript_code %}
    {% endblock %}
    <link rel="icon" type="image/png" href="/static/media/logo.png">
    {% if session_id %}
        <script type="text/javascript">document.cookie = "session_id={{ session_id }}";</script>
    {% endif %}
</head>
<body>
    <div class="navbar">
        <a class="a-logo" href="/?session-id={{ session_id }}&user-id={{ user }}"><img class="small-logo" src="/static/media/logo.png" width="30" height="30"></a>
        <a class="a-left" href="/cars?session-id={{ session_id }}&user-id={{ user }}">Car Hire</a>
        <a class="a-left" href="/vans?session-id={{ session_id }}&user-id={{ user }}">Van Hire</a>
        <a class="a-left" href="/contacts?session-id={{ session_id }}&user-id={{ user }}">Contacts</a>
        {% if user %}
            <a class="a-right" href="/logout?session-id={{ session_id }}" onclick="logout()">Log out</a>
            <a class="a-right" href="/user_area">{{ user }}</a>
        {% else %}
            {% block right_buttons %}{% endblock %}
        {% endif %}
    </div>
    <div class="logo-and-title">
        <table>
            <tr>
                <td><img class="big-logo" src="/static/media/logo.png" width="200" height="200"></td>
                <td><h1>Rent a Car</h1></td>
            </tr>
        </table>
    </div>
    {% block company_description %}
    {% endblock %}
    {% block news %}
    {% endblock %}
    {% block preview_cars %}
    {% endblock %}
    {% block car_details %}
    {% endblock %}
    {% block login %}
    {% endblock %}
    <footer>
        <p>Rent a car | &copy;2019 Nicolas Carolo | All rights reserved</p>
    </footer>
</body>
</html>