{% extends 'base.html' %}

{% block other_styles %}
    <link rel="stylesheet" href="/static/css/cars_style.css" type="text/css" />
{% endblock %}

{% block right_buttons %}
    <a class="a-right" href="/sign-up">Sign up</a>
    <a class="a-right" href="/login?back=cars.html">Log in</a>
{% endblock %}

{% block searching_filters %}
    <div class="searching-filters">
        <form method="post" action="/filter_cars?session-id={{ session_id }}&user-id={{ user }}">
            <table id="filter-table">
                <tr>
                    <th colspan="2">Rent period</th>
                </tr>
                <tr>
                   <td class="caption"><label for date-from>From:</label></td>
                   <td class="user-input"><input type="date" id="date-from" name="date-from"></td>
                </tr>
                <tr>
                    <td class="caption"><label for date-to>To:</label></td>
                    <td class="user-input"><input type="date" id="date-to" name="date-to"></td>
                </tr>
                <tr>
                    <th colspan="2">Car brand and type</th>
                </tr>
                <tr>
                   <td class="caption"><label for car-brand>Brand:</label></td>
                   <td class="user-input">
                       <select id="car-brand" name="car-brand">
                           {% for brand in brands_list %}
                               <option value="{{ brand }}">{{ brand }}</option>
                           {% endfor %}
                       </select>
                   </td>
                </tr>
                <tr>
                   <td class="caption"><label for car-type>Type:</label></td>
                   <td class="user-input">
                       <select id="car-type" name="car-type">
                           <option>SUV</option>
                       </select>
                   </td>
                </tr>
                <tr>
                   <td class="caption"><label for n-seats>Number of seats:</label></td>
                   <td class="user-input">
                       <select id="n-seats" name="n-seats">
                           <option>5</option>
                       </select>
                   </td>
                </tr>
                <tr>
                    <th colspan="2">Engine and transmission</th>
                </tr>
                <tr>
                   <td class="caption"><label for car-min-power>Min power:</label></td>
                   <td class="user-input">
                       <input type="number" id="car-min-power" name="car-min-power" min="0">
                   </td>
                </tr>
                <tr>
                   <td class="caption"><label for car-max-power>Max power:</label></td>
                   <td class="user-input">
                       <input type="number" id="car-max-power" name="car-max-power" min="0">
                   </td>
                </tr>
                <tr>
                   <td class="caption"><label for car-fuel>Fuel:</label></td>
                   <td class="user-input">
                       <select id="car-fuel" name="car-fuel">
                           <option>Diesel</option>
                       </select>
                   </td>
                </tr>
                <tr>
                   <td class="caption"><label for car-transmission>Transmission:</label></td>
                   <td class="user-input">
                       <select id="car-transmission" name="car-transmission">
                           <option>Manual</option>
                           <option>Automatic</option>
                       </select>
                   </td>
                </tr>
                <tr>
                    <th colspan="2">Car year</th>
                </tr>
                <tr>
                   <td class="caption"><label for car-year-from>From:</label></td>
                   <td class="user-input">
                       <select id="car-year-from" name="car-year-from">
                           {% for i in range(1980, current_year + 1) %}
                                <option value="{{ i }}">{{ i }}</option>
                           {% endfor %}
                       </select>
                   </td>
                </tr>
                <tr>
                   <td class="caption"><label for car-year-to>To:</label></td>
                   <td class="user-input">
                       <select id="car-year-to" name="car-year-to">
                           {% for i in range(1980, current_year + 1) %}
                               {% if i == 2019 %}
                                   <option value="{{ i }}" selected="selected">{{ i }}</option>
                               {% else %}
                                   <option value="{{ i }}">{{ i }}</option>
                               {% endif %}
                           {% endfor %}
                       </select>
                   </td>
                </tr>
                <tr>
                    <th colspan="2">Driver</th>
                </tr>
                <tr>
                   <td class="caption"><label for driver-min-age>Driver's min age:</label></td>
                   <td class="user-input">
                       <select id="driver-min-age" name="driver-min-age">
                           {% for i in range(18, 36) %}
                                <option value="{{ i }}">{{ i }}</option>
                           {% endfor %}
                       </select>
                   </td>
                </tr>
                <tr>
                    <th colspan="2">Price per day</th>
                </tr>
                <tr>
                    <td class="caption"><label for min-price-day>Min price per day:</label></td>
                    <td class="user-input"><input type="number" id="min-price-day" name="min-price-day" min="0"></td>
                </tr>
                <tr>
                    <td class="caption"><label for max-price-day>Min price per day:</label></td>
                    <td class="user-input"><input type="number" id="max-price-day" name="max-price-day" min="0"></td>
                </tr>
                <tr>
                    <td class="filter-cars" colspan="2"><input type="submit" id="filter-cars-button" name="filter-cars-button" value="Filter cars"></td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}

{% block preview_cars %}
    <div class="preview-cars">
        <table>
            {% for car in cars_list %}
                {% if loop.index0 % 2 == 0 and loop.index0 < n_cars - 1 %}
                    <tr>
                        <td rowspan="6" class="car-image"><a href="/car_details?car-id={{ cars_list[loop.index0].id }}&session-id={{ session_id }}&user-id={{ user }}"><img class="car-image" src="{{ cars_list[loop.index0].photo_link }}" width="320" height="240"></a></td>
                        <td class="car-description"><a href="/car_details?car-id={{ cars_list[loop.index0].id }}&session-id={{ session_id }}&user-id={{ user }}"><b>{{ cars_list[loop.index0].brand }} {{ cars_list[loop.index0].model }}</b></a></td>
                        <td rowspan="6" class="car-image"><a href="/car_details?car-id={{ cars_list[loop.index0 + 1].id }}&session-id={{ session_id }}&user-id={{ user }}"><img class="car-image" src="{{ cars_list[loop.index0 + 1].photo_link }}" width="320" height="240"></a></td>
                        <td class="car-description"><a href="/car_details?car-id={{ cars_list[loop.index0].id + 1}}&session-id={{ session_id }}&user-id={{ user }}"><b>{{ cars_list[loop.index0 + 1].brand }} {{ cars_list[loop.index0 + 1].model }}</b></a></td>
                    </tr>
                    <tr>
                        <td class="car-details"><b>Year:</b> {{ cars_list[loop.index0].car_year }}</td>
                        <td class="car-details"><b>Year:</b> {{ cars_list[loop.index0 + 1].car_year }}</td>
                    </tr>
                    <tr>
                        <td class="car-details"><b>Engine:</b> {{ cars_list[loop.index0].engine }} {{ cars_list[loop.index0].fuel }} {{ cars_list[loop.index0].power }} cv</td>
                        <td class="car-details"><b>Engine:</b>  {{ cars_list[loop.index0 + 1].engine }} {{ cars_list[loop.index0 + 1].fuel }} {{ cars_list[loop.index0 + 1].power }} cv</td>
                    </tr>
                    <tr>
                        <td class="car-details"><b>Transmission:</b> {{ cars_list[loop.index0].transmission }}</td>
                        <td class="car-details"><b>Transmission:</b> {{ cars_list[loop.index0 + 1].transmission }}</td>
                    </tr>
                    <tr>
                        <td class="car-details"><b>Driver's minimum age:</b> {{ cars_list[loop.index0].min_age }}</td>
                        <td class="car-details"><b>Driver's minimum age:</b> {{ cars_list[loop.index0 + 1].min_age }}</td>
                    </tr>
                    <tr>
                        <td class="car-price"><b>Price:</b> €{{ cars_list[loop.index0].price }} per day</td>
                        <td class="car-price"><b>Price:</b> €{{ cars_list[loop.index0 + 1].price }} per day</td>
                    </tr>
                {% endif %}
            {% endfor %}
            {% if n_cars % 2 == 1 %}
                <tr>
                        <td rowspan="6" class="car-image"><a href="/car_details?car-id={{ cars_list[n_cars - 1].id }}&session-id={{ session_id }}&user-id={{ user }}"><img class="car-image" src="{{ cars_list[n_cars - 1].photo_link }}" width="320" height="240"></a></td>
                        <td class="car-description"><a href="/car_details?car-id={{ cars_list[n_cars - 1].id }}&session-id={{ session_id }}&user-id={{ user }}"><b>{{ cars_list[n_cars - 1].brand }} {{ cars_list[n_cars - 1].model }}</b></a></td>
                        <td rowspan="6" class="car-image"></td>
                        <td class="car-description"></td>
                    </tr>
                    <tr>
                        <td class="car-details"><b>Year:</b> {{ cars_list[n_cars - 1].car_year }}</td>
                        <td class="car-details"></td>
                    </tr>
                    <tr>
                        <td class="car-details"><b>Engine:</b> {{ cars_list[n_cars - 1].engine }} {{ cars_list[n_cars - 1].fuel }} {{ cars_list[n_cars - 1].power }} cv</td>
                        <td class="car-details"></td>
                    </tr>
                    <tr>
                        <td class="car-details"><b>Transmission:</b> {{ cars_list[n_cars - 1].transmission }}</td>
                        <td class="car-details"></td>
                    </tr>
                    <tr>
                        <td class="car-details"><b>Driver's minimum age:</b> {{ cars_list[n_cars - 1].min_age }}</td>
                        <td class="car-details"></td>
                    </tr>
                    <tr>
                        <td class="car-price"><b>Price:</b> €{{ cars_list[n_cars - 1].price }} per day</td>
                        <td class="car-price"></td>
                    </tr>
            {% endif %}
        </table>
    </div>
{% endblock %}