{% extends 'base.html' %}

{% block other_styles %}
    <link rel="stylesheet" href="/static/css/cars_style.css" type="text/css" />
{% endblock %}

{% block javascript_code %}
    <script src="/static/script/cars_showcase.js" type="text/javascript"></script>
{% endblock %}

{% block right_buttons %}
    <a class="a-right" href="/sign-up">Sign up</a>
    <a class="a-right" href="/login?back=cars.html">Log in</a>
{% endblock %}

{% block searching_filters %}
    <div class="searching-filters">
        <form id="form-cars-filter" name="form-cars-filter" method="post" action="/filter_cars?session-id={{ session_id }}&user-id={{ user }}">
            <table id="filter-table">
                <tr>
                    <th colspan="2">Rent period</th>
                </tr>
                <tr>
                   <td class="caption"><label for rent-date-from>From:</label></td>
                    {% if rent_date_from_filter %}
                        <td class="user-input"><input type="date" id="rent-date-from" name="rent-date-from" min="{{ today }}" value="{{ rent_date_from_filter }}"></td>
                    {% else %}
                        <td class="user-input"><input type="date" id="rent-date-from" name="rent-date-from" min="{{ today }}"></td>
                    {% endif %}
                </tr>
                <tr>
                    <td class="caption"><label for rent-date-to>To:</label></td>
                    {% if rent_date_to_filter %}
                        <td class="user-input"><input type="date" id="rent-date-to" name="rent-date-to" min="{{ today }}" value="{{ rent_date_to_filter }}"></td>
                    {% else %}
                        <td class="user-input"><input type="date" id="rent-date-to" name="rent-date-to" min="{{ today }}"></td>
                    {% endif %}
                </tr>
                <tr>
                    <th colspan="2">Car brand and type</th>
                </tr>
                <tr>
                   <td class="caption"><label for car-brand>Brand:</label></td>
                   <td class="user-input">
                       <select id="car-brand" name="car-brand">
                           <option value="all" selected="selected">All Brands</option>
                           {% for brand in brands_list %}
                               {% if brand == brand_filter %}
                                   <option value="{{ brand }}" selected="selected">{{ brand }}</option>
                               {% else %}
                                   <option value="{{ brand }}">{{ brand }}</option>
                               {% endif %}
                           {% endfor %}
                       </select>
                   </td>
                </tr>
                <tr>
                   <td class="caption"><label for car-type>Type:</label></td>
                   <td class="user-input">
                       <select id="car-type" name="car-type">
                           <option value="all" selected="selected">All Types</option>
                           {% for car_type in car_types_list %}
                               {% if car_type == type_filter %}
                                   <option value="{{ car_type }}" selected="selected">{{ car_type }}</option>
                               {% else %}
                                   <option value="{{ car_type }}">{{ car_type }}</option>
                               {% endif %}
                           {% endfor %}
                       </select>
                   </td>
                </tr>
                <tr>
                   <td class="caption"><label for n-seats>Number of seats:</label></td>
                   <td class="user-input">
                       <select id="n-seats" name="n-seats">
                           <option value="all">All</option>
                           {% for numb_seats in car_n_seats_list %}
                               {% if numb_seats == n_seats_filter %}
                                   <option value="{{ numb_seats }}" selected="selected">{{ numb_seats }}</option>
                               {% else %}
                                   <option value="{{ numb_seats }}">{{ numb_seats }}</option>
                               {% endif %}
                           {% endfor %}
                       </select>
                   </td>
                </tr>
                <tr>
                    <th colspan="2">Engine and transmission</th>
                </tr>
                <tr>
                   <td class="caption"><label for car-min-power>Min power (cv):</label></td>
                   <td class="user-input">
                       {% if min_power_filter %}
                           <input type="number" id="car-min-power" name="car-min-power" min="{{ min_power }}" max="{{ max_power }}" value="{{ min_power_filter }}">
                       {% else %}
                           <input type="number" id="car-min-power" name="car-min-power" min="{{ min_power }}" max="{{ max_power }}" value="{{ min_power }}">
                       {% endif %}
                   </td>
                </tr>
                <tr>
                   <td class="caption"><label for car-max-power>Max power (cv):</label></td>
                   <td class="user-input">
                       {% if max_power_filter %}
                           <input type="number" id="car-max-power" name="car-max-power" min="{{ min_power }}" max="{{ max_power }}" value="{{ max_power_filter }}">
                       {% else %}
                           <input type="number" id="car-max-power" name="car-max-power" min="{{ min_power }}" max="{{ max_power }}" value="{{ max_power }}">
                       {% endif %}
                   </td>
                </tr>
                <tr>
                   <td class="caption"><label for car-fuel>Fuel:</label></td>
                   <td class="user-input">
                       <select id="car-fuel" name="car-fuel">
                           <option value="all" selected="selected">All Fuels</option>
                           {% for fuel in fuel_list %}
                               {% if fuel == fuel_filter %}
                                   <option value="{{ fuel }}" selected="selected">{{ fuel }}</option>
                               {% else %}
                                   <option value="{{ fuel }}">{{ fuel }}</option>
                               {% endif %}
                           {% endfor %}
                       </select>
                   </td>
                </tr>
                <tr>
                   <td class="caption"><label for car-transmission>Transmission:</label></td>
                   <td class="user-input">
                       <select id="car-transmission" name="car-transmission">
                           <option value="all" selected="selected">All Transmissions</option>
                           {% if transmission_filter == "Automatic" %}
                               <option value="Automatic" selected="selected">Automatic</option>
                           {% else %}
                               <option value="Automatic">Automatic</option>
                           {% endif %}
                           {% if transmission_filter == "Manual" %}
                               <option value="Manual" selected="selected">Manual</option>
                           {% else %}
                                <option value="Manual">Manual</option>
                           {% endif %}
                       </select>
                   </td>
                </tr>
                <tr>
                    <th colspan="2">Car year</th>
                </tr>
                <tr>
                   <td class="caption"><label for car-year-from>From:</label></td>
                   <td class="user-input">
                       <select id="car-year-from" name="car-year-from">
                           {% for i in range(oldest_car_age_value, current_year + 1) %}
                               {% if i == car_year_from_filter %}
                                   <option value="{{ i }}" selected="selected">{{ i }}</option>
                               {% else %}
                                   <option value="{{ i }}">{{ i }}</option>
                               {% endif %}
                           {% endfor %}
                       </select>
                   </td>
                </tr>
                <tr>
                   <td class="caption"><label for car-year-to>To:</label></td>
                   <td class="user-input">
                       <select id="car-year-to" name="car-year-to">
                           {% if car_year_to_filter %}
                               {% for i in range(oldest_car_age_value, current_year + 1) %}
                                   {% if i == car_year_to_filter %}
                                       <option value="{{ i }}" selected="selected">{{ i }}</option>
                                   {% else %}
                                       <option value="{{ i }}">{{ i }}</option>
                                   {% endif %}
                               {% endfor %}
                           {% else %}
                               {% for i in range(oldest_car_age_value, current_year + 1) %}
                                   {% if i == current_year %}
                                       <option value="{{ i }}" selected="selected">{{ i }}</option>
                                   {% else %}
                                       <option value="{{ i }}">{{ i }}</option>
                                   {% endif %}
                               {% endfor %}
                           {% endif %}
                       </select>
                   </td>
                </tr>
                <tr>
                    <th colspan="2">Driver</th>
                </tr>
                <tr>
                   <td class="caption"><label for driver-age>Driver's age:</label></td>
                   <td class="user-input">
                       <select id="driver-age" name="driver-age">
                           <option value="none" selected="selected">None</option>
                           {% for i in range(18, 101) %}
                               {% if i == driver_age_filter %}
                                   <option value="{{ i }}" selected="selected">{{ i }}</option>
                               {% else %}
                                   <option value="{{ i }}">{{ i }}</option>
                               {% endif %}
                           {% endfor %}
                       </select>
                   </td>
                </tr>
                <tr>
                    <th colspan="2">Price per day</th>
                </tr>
                <tr>
                    <td class="caption"><label for min-price-day>Min price (€):</label></td>
                    {% if min_price_day_filter %}
                        <td class="user-input"><input type="number" id="min-price-day" name="min-price-day" min="{{ min_price }}" max="{{ max_price }}" value="{{ min_price_day_filter }}"></td>
                    {% else %}
                        <td class="user-input"><input type="number" id="min-price-day" name="min-price-day" min="{{ min_price }}" max="{{ max_price }}" value="{{ min_price }}"></td>
                    {% endif %}
                </tr>
                <tr>
                    <td class="caption"><label for max-price-day>Min price (€):</label></td>
                    {% if max_price_day_filter %}
                        <td class="user-input"><input type="number" id="max-price-day" name="max-price-day" min="{{ min_price }}" max="{{ max_price }}" value="{{ max_price_day_filter }}"></td>
                    {% else %}
                        <td class="user-input"><input type="number" id="max-price-day" name="max-price-day" min="{{ min_price }}" max="{{ max_price }}" value="{{ max_price }}"></td>
                    {% endif %}
                </tr>
                <tr>
                    <td class="filter-cars" colspan="2"><input type="button" id="filter-cars-button" name="filter-cars-button" value="Filter cars" onclick="submit_form_filter()"></td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}

{% block preview_cars %}
    <div class="preview-cars">
        {% if cars_list|length > 0 %}
            <table>
                {% for car in cars_list %}
                    {% if loop.index0 % 2 == 0 and loop.index0 < n_cars - 1 %}
                        <tr>
                            <td rowspan="6" class="car-image"><a href="/car_details?car-id={{ cars_list[loop.index0].id }}&session-id={{ session_id }}&user-id={{ user }}"><img class="car-image" src="{{ cars_list[loop.index0].photo_link }}" width="256" height="192"></a></td>
                            <td class="car-description"><a href="/car_details?car-id={{ cars_list[loop.index0].id }}&session-id={{ session_id }}&user-id={{ user }}"><b>{{ cars_list[loop.index0].brand }} {{ cars_list[loop.index0].model }}</b></a></td>
                            <td rowspan="6" class="car-image"><a href="/car_details?car-id={{ cars_list[loop.index0 + 1].id }}&session-id={{ session_id }}&user-id={{ user }}"><img class="car-image" src="{{ cars_list[loop.index0 + 1].photo_link }}" width="256" height="192"></a></td>
                            <td class="car-description"><a href="/car_details?car-id={{ cars_list[loop.index0 + 1].id }}&session-id={{ session_id }}&user-id={{ user }}"><b>{{ cars_list[loop.index0 + 1].brand }} {{ cars_list[loop.index0 + 1].model }}</b></a></td>
                        </tr>
                        <tr>
                            <td class="car-details"><b>Year:</b> {{ cars_list[loop.index0].car_year }}</td>
                            <td class="car-details"><b>Year:</b> {{ cars_list[loop.index0 + 1].car_year }}</td>
                        </tr>
                        <tr>
                            <td class="car-details"><b>Engine:</b> {{ cars_list[loop.index0].engine }} {{ cars_list[loop.index0].fuel }} {{ cars_list[loop.index0].power }} cv</td>
                            <td class="car-details"><b>Engine:</b>  {{ cars_list[loop.index0 + 1].engine }} {{ cars_list[loop.index0 + 1].fuel }} {{ cars_list[loop.index0 + 1].power }} cv</td>
                        </tr>
                        <tr>
                            <td class="car-details"><b>Transmission:</b> {{ cars_list[loop.index0].transmission }}</td>
                            <td class="car-details"><b>Transmission:</b> {{ cars_list[loop.index0 + 1].transmission }}</td>
                        </tr>
                        <tr>
                            <td class="car-details"><b>Driver's minimum age:</b> {{ cars_list[loop.index0].min_age }}</td>
                            <td class="car-details"><b>Driver's minimum age:</b> {{ cars_list[loop.index0 + 1].min_age }}</td>
                        </tr>
                        <tr>
                            <td class="car-price"><b>Price:</b> €{{ cars_list[loop.index0].price }} per day</td>
                            <td class="car-price"><b>Price:</b> €{{ cars_list[loop.index0 + 1].price }} per day</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                {% if n_cars % 2 == 1 %}
                    <tr>
                        <td rowspan="6" class="car-image"><a href="/car_details?car-id={{ cars_list[n_cars - 1].id }}&session-id={{ session_id }}&user-id={{ user }}"><img class="car-image" src="{{ cars_list[n_cars - 1].photo_link }}" width="256" height="192"></a></td>
                        <td class="car-description"><a href="/car_details?car-id={{ cars_list[n_cars - 1].id }}&session-id={{ session_id }}&user-id={{ user }}"><b>{{ cars_list[n_cars - 1].brand }} {{ cars_list[n_cars - 1].model }}</b></a></td>
                        <td rowspan="6" class="car-image"></td>
                        <td class="car-description"></td>
                    </tr>
                    <tr>
                        <td class="car-details"><b>Year:</b> {{ cars_list[n_cars - 1].car_year }}</td>
                        <td class="car-details"></td>
                    </tr>
                    <tr>
                        <td class="car-details"><b>Engine:</b> {{ cars_list[n_cars - 1].engine }} {{ cars_list[n_cars - 1].fuel }} {{ cars_list[n_cars - 1].power }} cv</td>
                        <td class="car-details"></td>
                    </tr>
                    <tr>
                        <td class="car-details"><b>Transmission:</b> {{ cars_list[n_cars - 1].transmission }}</td>
                        <td class="car-details"></td>
                    </tr>
                    <tr>
                        <td class="car-details"><b>Driver's minimum age:</b> {{ cars_list[n_cars - 1].min_age }}</td>
                        <td class="car-details"></td>
                    </tr>
                    <tr>
                        <td class="car-price"><b>Price:</b> €{{ cars_list[n_cars - 1].price }} per day</td>
                        <td class="car-price"></td>
                    </tr>
                {% endif %}
            </table>
        {% else %}
            <h3 class="empty-list">No cars found</h3>
        {% endif %}
    </div>
{% endblock %}