{% extends 'base.html' %}

{% block company_description %}
    <div class="company-description">
        <h2>Information about the company</h2>
        <p>
            <i>Rent a Car</i> is a company located in Pavia that offers you the possibility of renting cars or vans.
            Our fleet consists of 30 cars and 10 vans. You can rent the car that best suits your needs
            based on the brand, model, type of vehicle, size, engine specifications and other needs.
        </p>
    </div>
{% endblock %}

{% block news %}
    <div class="news">
        <h2>News</h2>
        <ul>
            {% for news in news_list %}
                <li>{{ news.description }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block preview_cars %}
    <div class="preview-cars">
        <table>
            {% for car in cars_list %}
                {% if loop.index0 % 2 == 0 %}
                    <tr>
                        <td rowspan="3" class="car-image"><img src="{{ cars_list[loop.index0].photo_link }}" width="320" height="240"></td>
                        <td class="car-description">{{ cars_list[loop.index0].brand }} {{ cars_list[loop.index0].model }}</td>
                        <td rowspan="3" class="car-image"><img src="{{ cars_list[loop.index0 + 1].photo_link }}" width="320" height="240"></td>
                        <td class="car-description">{{ cars_list[loop.index0 + 1].brand }} {{ cars_list[loop.index0 + 1].model }}</td>
                    </tr>
                    <tr>
                        <td class="car-engine">{{ cars_list[loop.index0].engine }} {{ cars_list[loop.index0].fuel }} {{ cars_list[loop.index0].power }} cv</td>
                        <td class="car-engine">{{ cars_list[loop.index0 + 1].engine }} {{ cars_list[loop.index0 + 1].fuel }} {{ cars_list[loop.index0 + 1].power }} cv</td>
                    </tr>
                    <tr>
                        <td class="car-price">Price: €{{ cars_list[loop.index0].price }} per day</td>
                        <td class="car-price">Price: €{{ cars_list[loop.index0 + 1].price }} per day</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
{% endblock %}