{% extends 'base.html' %}

{% block other_styles %}
    <link rel="stylesheet" href="/static/css/home_style.css" type="text/css" />
{% endblock %}

{% block javascript_code %}
    <script src="/static/script/login.js" type="text/javascript"></script>
    <script type="text/javascript">validateSession("{{ session_id }}", "{{ authjs }}")</script>
    {% if user_added_correctly %}
        <script type="text/javascript">alert("Subscription completed correctly!")</script>
    {% endif %}
{% endblock %}

{% block right_buttons %}
    <a class="a-right" href="/sign-up">Sign up</a>
    <a class="a-right" href="/login?back=home.html">Log in</a>
{% endblock %}

{% block company_description %}
    <div class="company-description">
        <h2>Information about the company</h2>
        <p>
            <i>Rent a Car</i> is a company located in Pavia that offers you the possibility of renting cars or vans.
            Our fleet consists of 30 cars. You can rent the car that best suits your needs
            based on the brand, model, type of vehicle, size, engine specifications and other needs.
        </p>
    </div>
{% endblock %}

{% block news %}
    <div class="news">
        <h2>News</h2>
        <ul>
            {% for news in news_list %}
                <li>{{ news.description }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block preview_cars %}
    <div class="preview-cars">
        <table>
            {% for car in cars_list %}
                {% if loop.index0 % 2 == 0 and loop.index0 < preview_length - 1 %}
                    <tr>
                        <td rowspan="6" class="car-image"><a href="/car_details?car-id={{ cars_list[loop.index0].id }}&session-id={{ session_id }}&user-id={{ user }}"><img class="car-image" src="{{ cars_list[loop.index0].photo_link }}" width="320" height="240"></a></td>
                        <td class="car-description"><a href="/car_details?car-id={{ cars_list[loop.index0].id }}&session-id={{ session_id }}&user-id={{ user }}"><b>{{ cars_list[loop.index0].brand }} {{ cars_list[loop.index0].model }}</b></a></td>
                        <td rowspan="6" class="car-image"><a href="/car_details?car-id={{ cars_list[loop.index0 + 1].id }}&session-id={{ session_id }}&user-id={{ user }}"><img class="car-image" src="{{ cars_list[loop.index0 + 1].photo_link }}" width="320" height="240"></a></td>
                        <td class="car-description"><a href="/car_details?car-id={{ cars_list[loop.index0].id + 1}}&session-id={{ session_id }}&user-id={{ user }}"><b>{{ cars_list[loop.index0 + 1].brand }} {{ cars_list[loop.index0 + 1].model }}</b></a></td>
                    </tr>
                    <tr>
                        <td class="car-details"><b>Year:</b> {{ cars_list[loop.index0].car_year }}</td>
                        <td class="car-details"><b>Year:</b> {{ cars_list[loop.index0 + 1].car_year }}</td>
                    </tr>
                    <tr>
                        <td class="car-details"><b>Engine:</b> {{ cars_list[loop.index0].engine }} {{ cars_list[loop.index0].fuel }} {{ cars_list[loop.index0].power }} cv</td>
                        <td class="car-details"><b>Engine:</b>  {{ cars_list[loop.index0 + 1].engine }} {{ cars_list[loop.index0 + 1].fuel }} {{ cars_list[loop.index0 + 1].power }} cv</td>
                    </tr>
                    <tr>
                        <td class="car-details"><b>Transmission:</b> {{ cars_list[loop.index0].transmission }}</td>
                        <td class="car-details"><b>Transmission:</b> {{ cars_list[loop.index0 + 1].transmission }}</td>
                    </tr>
                    <tr>
                        <td class="car-details"><b>Driver's minimum age:</b> {{ cars_list[loop.index0].min_age }}</td>
                        <td class="car-details"><b>Driver's minimum age:</b> {{ cars_list[loop.index0 + 1].min_age }}</td>
                    </tr>
                    <tr>
                        <td class="car-price"><b>Price:</b> €{{ cars_list[loop.index0].price }} per day</td>
                        <td class="car-price"><b>Price:</b> €{{ cars_list[loop.index0 + 1].price }} per day</td>
                    </tr>
                {% endif %}
            {% endfor %}
            {% if preview_length % 2 == 1 %}
                <tr>
                        <td rowspan="6" class="car-image"><a href="/car_details?car-id={{ cars_list[preview_length - 1].id }}&session-id={{ session_id }}&user-id={{ user }}"><img class="car-image" src="{{ cars_list[preview_length - 1].photo_link }}" width="320" height="240"></a></td>
                        <td class="car-description"><a href="/car_details?car-id={{ cars_list[preview_length - 1].id }}&session-id={{ session_id }}&user-id={{ user }}"><b>{{ cars_list[preview_length - 1].brand }} {{ cars_list[preview_length - 1].model }}</b></a></td>
                        <td rowspan="6" class="car-image"></td>
                        <td class="car-description"></td>
                    </tr>
                    <tr>
                        <td class="car-details"><b>Year:</b> {{ cars_list[preview_length - 1].car_year }}</td>
                        <td class="car-details"></td>
                    </tr>
                    <tr>
                        <td class="car-details"><b>Engine:</b> {{ cars_list[preview_length - 1].engine }} {{ cars_list[preview_length - 1].fuel }} {{ cars_list[preview_length - 1].power }} cv</td>
                        <td class="car-details"></td>
                    </tr>
                    <tr>
                        <td class="car-details"><b>Transmission:</b> {{ cars_list[preview_length - 1].transmission }}</td>
                        <td class="car-details"></td>
                    </tr>
                    <tr>
                        <td class="car-details"><b>Driver's minimum age:</b> {{ cars_list[preview_length - 1].min_age }}</td>
                        <td class="car-details"></td>
                    </tr>
                    <tr>
                        <td class="car-price"><b>Price:</b> €{{ cars_list[preview_length - 1].price }} per day</td>
                        <td class="car-price"></td>
                    </tr>
            {% endif %}
        </table>
    </div>
{% endblock %}