{% extends 'base.html' %}

{% block other_styles %}
    <link rel="stylesheet" href="/static/css/login_style.css" type="text/css" />
{% endblock %}

{% block right_buttons %}
    <a class="a-right" href="/sign-up">Sign up</a>
{% endblock %}

{% block login %}
    <div class="login">
        <form method="post" action="/auth">
            <table class="login">
                <tr>
                    <td class="caption"><label for username>Email address:</label></td>
                    <td class="user-input"><input type="email" id="username" name="username" required></td>
                </tr>
                <tr>
                    <td class="caption"><label for password>Password:</label></td>
                    <td class="user-input"><input type="password" id="password" name="password" required></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" id="authenticate" name="authenticate" value="Login"></td>
                </tr>
            </table>
            <input type="hidden" id="backto" name="backto" value="{{ template }}">
            <input type="hidden" id="car-id" name="car-id" value="{{ car_id }}">
        </form>
    </div>
    {% if error %}
        <script type="text/javascript">badCredentials("{{ error }}")</script>
    {% endif %}
{% endblock %}