{% extends 'admin_area_base.html' %}

{% block admin_view %}
    <div class="news-list" id="div-news-list">
        {% if edit_mode %}
            <form method="post" action="/add_news?session-id={{ session_id }}&user-id={{ user }}">
                <textarea id="news-content" name="news-content" cols="50" rows="5" required></textarea><br>
                <input type="submit" id="save-news" name="save-news" value="Save">
                <input type="button" id="cancel" name="cancel" value="Cancel" onclick="window.location.href = '/news_view?session-id={{ session_id }}&user-id={{ user }}&edit=false';">
            </form>
        {% else %}
            <h2 class="div-title">News</h2>
            {% if news_list|length > 0 %}
                <table class="news">
                    {% for news in news_list %}
                        <tr>
                            <td>{{ news.description }}</td>
                            <td><input type="button" id="delete-news-button" name="delete-news-button" value="Delete" onclick="delete_news('{{ news.id }}', '{{ news.description }}', '{{ session_id }}', '{{ user }}')"></td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <h3 class="empty-list">There are not news available at the moment!</h3>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}