{% extends 'base.html' %}

{% block other_styles %}
    <link rel="stylesheet" href="/static/css/user_area_style.css" type="text/css" />
{% endblock %}

{% block javascript_code %}
    {% if edit_error %}
        <script type="text/javascript">alert("{{ edit_error }}");</script>
    {% endif %}
{% endblock %}

{% block user_info %}
    {% if edit_mode %}
        <div class="user-info">
            <form method="post" action="/edit_user_info?session-id={{ session_id }}&user-id={{ user }}">
                <table class="user-info">
                    <tr>
                        <td class="caption"><label for surname>Surname:</label></td>
                        <td class="user-input"><input type="text", id="surname" name="surname" value="{{ surname }}" required></td>
                    </tr>
                    <tr>
                        <td class="caption"><label for name>Name:</label></td>
                        <td class="user-input"><input type="text" id="name" name="name" value="{{ name }}" required></td>
                    </tr>
                    <tr>
                        <td class="caption"><label for birthdate>Date of birth:</label></td>
                        <td class="user-input"><input type="date" id="birthdate" name="birthdate" value="{{ birthdate }}" required></td>
                    </tr>
                    <tr>
                        <td class="caption"><label for username>Email address:</label></td>
                        <td class="user-input"><input type="email" id="username" name="username" value="{{ user }}" required></td>
                    </tr>
                    <tr>
                        <td><input type="submit" id="save-changes-button" name="save-changes-button" value="Save changes"></td>
                        <td><input type="button" id="cancel-changes-button" name="cancel-changes-button" value="Cancel" onclick="window.location.href = '/user_area?session-id={{ session_id }}&user-id={{ user }}&edit=false'"></td>
                    </tr>
                </table>
            </form>
        </div>
    {% else %}
        <div class="user-info">
            <form method="post" action="/edit_user_info">
                <table class="user-info">
                    <tr>
                        <td class="caption"><p>Surname:</p></td>
                        <td class="user-input"><p>{{ surname }}</p></td>
                    </tr>
                    <tr>
                        <td class="caption"><p>Name:</p></td>
                        <td class="user-input"><p>{{ name }}</p></td>
                    </tr>
                    <tr>
                        <td class="caption"><p>Date of birth:</p></td>
                        <td class="user-input"><p>{{ birthdate }}</p></td>
                    </tr>
                    <tr>
                        <td class="caption"><p>Email address:</p></td>
                        <td class="user-input"><p>{{ user }}</p></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="button" id="edit-mode-button" name="edit-mode-button" value="Edit" onclick="window.location.href = '/user_area?session-id={{ session_id }}&user-id={{ user }}&edit=true'"></td>
                    </tr>
                </table>
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block reservation_summary %}
{% endblock %}